$blue: #10375C;
$darkblue: #0D2C4A;
$orange: #FF5722;
$red: #DD2C00;
$gray: #6A6A6A;
$lightgray: #9A9A9A;
$black: #222831;

$min-content-width: 320px;
$tiny-content-width: 400px;
$small-content-width: 510px;
$middle-content-width: 730px;
$big-content-width: 930px;
$large-content-width: 1110px;

$min-section-margin: 30px auto 0;
$tiny-section-margin: 30px auto 0;
$small-section-margin: 30px auto 0;
$middle-section-margin: 50px auto 0;
$big-section-margin: 85px auto 0;
$large-section-margin: 112px auto 0;

$lato: 'Lato', 'Arial', 'sans-serif';
$lora: 'Lora', 'Times new roman', 'serif';
$playfair: 'Playfair700', 'Arial', 'sans-serif';

$min: 440px;
$tiny: 540px;
$small: 768px;
$middle: 960px;
$big: 1200px;
$large: 1440px;
